In [3]:
import pandas as pd

# 새로 업로드된 세 파일을 불러오기
file_paths = [
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2021_전문대_학교별.xlsx',
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2022_전문대_학교별.xlsx',
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2023_전문대_학교별.xlsx',
]

# 파일별로 데이터 읽어서 리스트에 저장
df = [pd.read_excel(file) for file in file_paths]

# 데이터프레임 결합 (세로 방향으로)
df = pd.concat(df, ignore_index=True)

df.shape

(511, 10)

In [4]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준연도        511 non-null    int64
 1   학교종류        511 non-null    object
 2   설립구분        511 non-null    object
 3   지역          511 non-null    object
 4   학교명         511 non-null    object
 5   재적학생        511 non-null    int64
 6   자퇴학생        511 non-null    int64
 7   자퇴학생비율      511 non-null    float64
 8   신입생_자퇴학생    511 non-null    int64
 9   신입생_자퇴학생비율  511 non-null    float64
dtypes: float64(2), int64(4), object(4)
memory usage: 40.1+ KB

In [6]:
df.describe()

,기준연도,재적학생,자퇴학생,자퇴학생비율,신입생_자퇴학생,신입생_자퇴학생비율
count,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000
mean,2022.000000,3346.679061,141.520548,9.930705,64.630137,10.342642
std,0.816497,2796.655584,127.169730,6.281053,63.296084,6.249298
min,2021.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.000000,1089.500000,47.000000,6.500000,21.000000,6.585000
50%,2022.000000,2573.000000,97.000000,8.800000,44.000000,9.300000
75%,2023.000000,4905.500000,219.000000,11.805000,89.500000,12.300000
max,2023.000000,11971.000000,714.000000,74.400000,450.000000,50.000000

In [7]:
df.isna().sum()

기준연도          0
학교종류          0
설립구분          0
지역            0
학교명           0
재적학생          0
자퇴학생          0
자퇴학생비율        0
신입생_자퇴학생      0
신입생_자퇴학생비율    0
dtype: int64