In [1]:
file_name = "2022_대학_자연과학계열"

In [ ]:
import pandas as pd

# 1. 엑셀 파일 읽기 (4번째·5번째 행을 헤더로 사용)
df = pd.read_excel(rf'C:\Users\Admin\Desktop\25공공교육데이터분석\데이터분석\데이터\중도탈락 학생 현황_학교별평균값\전처리 전\{file_name}.xlsx', header=[3, 4])

# 2. 멀티인덱스 컬럼을 단일 레벨로 플래튼(flatten)
new_cols = []
for top, sub in df.columns:
    if pd.isna(sub):
        new_cols.append(str(top).strip())
    else:
        new_cols.append(f"{top.strip()}_{sub.strip()}")
df.columns = new_cols

# 3. 관심 있는 컬럼만 남기고 이름 간소화
df = df.rename(columns={
    '기준연도_Unnamed: 0_level_1': '기준연도',
    '학교종류_Unnamed: 1_level_1': '학교종류',
    '설립구분_Unnamed: 2_level_1': '설립구분',
    '지역_Unnamed: 3_level_1': '지역',
    '학교_Unnamed: 5_level_1': '학교명',
    '재적학생\n(A)_Unnamed: 6_level_1': '재적학생',
    '사유별 중도탈락 학생_자퇴': '자퇴학생',
    '중도탈락학생비율(%)\n(B/A) × 100_Unnamed: 16_level_1': '자퇴학생비율',
    '사유별 중도탈락 학생(신입생)_자퇴': '신입생_자퇴학생',
    '중도탈락학생(신입생)비율(%)\n(B`/A`) × 100_Unnamed: 27_level_1': '신입생_자퇴학생비율'
})

# 4. 필요한 열만 선택
selected_cols = [
    '기준연도', '학교종류', '설립구분', '지역', '학교명',
    '재적학생', '자퇴학생', '자퇴학생비율',
    '신입생_자퇴학생', '신입생_자퇴학생비율'
]
df_selected = df[selected_cols]

In [36]:
df_selected

      기준연도  학교종류 설립구분  지역         학교명         학과  재적학생  자퇴학생  자퇴학생비율
0     2021   대학교   사립  경남  가야대학교(김해)        간호학과   753    17     2.5
1     2021   대학교   사립  경남  가야대학교(김해)      물리치료학과   260     2     2.3
2     2021   대학교   사립  경남  가야대학교(김해)       방사선학과   250     6     4.0
3     2021   대학교   사립  경남  가야대학교(김해)   스포츠재활복지학과   112    12    12.5
4     2021   대학교   사립  경남  가야대학교(김해)       안경광학과    92     4     9.8
...    ...   ...  ...  ..         ...        ...   ...   ...     ...
2282  2021  산업대학   사립  전북      호원대학교      작업치료학과   141     6     7.8
2283  2021  산업대학   사립  전북      호원대학교       치위생학과   111     4     5.4
2284  2021  산업대학   사립  전북      호원대학교    호텔외식조리학과    21     2    19.0
2285  2021   대학교   사립  서울      홍익대학교       수학교육과   168     7     5.4
2286  2021   대학교   사립  경기   화성의과학대학교        간호학과   216     3     3.7

[2287 rows x 9 columns]

In [ ]:
# 저장할 파일명/경로 지정
output_path = rf'C:\Users\Admin\Desktop\25공공교육데이터분석\데이터분석\데이터\중도탈락 학생 현황_학교별평균값\전처리 후\{file_name}.xlsx'

# 1) 엑셀 파일로 저장
df_selected.to_excel(output_path, index=False)