In [ ]:
import pandas as pd

# Load the datasets
strong_df = pd.read_excel('datas/STRONG_최종.xlsx')
course_history_df = pd.read_excel('datas/교양교과_수강정보_최종.xlsx')
course_list_df = pd.read_excel('datas/교양교과목록_최종.xlsx')

# Display column information to understand the schema
data_info = {
    "STRONG_최종": strong_df.columns.tolist(),
    "교양교과_수강정보_최종": course_history_df.columns.tolist(),
    "교양교과목록_최종": course_list_df.columns.tolist()
}
data_info

{'STRONG_최종': ['No',
  '학번',
  '성별',
  '검사학년',
  '대학',
  '학부(과)',
  'GOT 흥미유형',
  '기본흥미척도(BIS)',
  'Unnamed: 8',
  'Unnamed: 9',
  'Unnamed: 10',
  'Unnamed: 11',
  'Unnamed: 12',
  'Unnamed: 13',
  'Unnamed: 14',
  'Unnamed: 15',
  'Unnamed: 16',
  'Unnamed: 17',
  'Unnamed: 18',
  'Unnamed: 19',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35',
  'Unnamed: 36',
  '개인특성척도(PSS)',
  'Unnamed: 38',
  'Unnamed: 39',
  'Unnamed: 40',
  'Unnamed: 41'],
 '교양교과_수강정보_최종': ['기준년도',
  '기준학기',
  '대학명',
  '학부명',
  '전공명',
  '연도',
  '학기',
  '학년',
  '학번',
  '성별',
  '과목명',
  '신청학점',
  '취득점수',
  '평균점수(100기준)',
  '분반',
  '개설대학',
  '개설학부과',
  '개설전공',
  '이수구분명'],
 '교양교과목록_최종': ['학년도',
  '학기',
  '교과목명',
  '교과목코드',
  '분반',
  '단과대학코드',
  '학과코드',
  '전공코드',
  '단과대학명',
  '학과명',
  '전공명',
  '교과설명',
  '이수구분',
  '수강기준학년',
  '수강기준학기']}

In [12]:
course_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105672 entries, 0 to 105671
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준년도         105672 non-null  int64
 1   기준학기         105672 non-null  int64
 2   대학명          105672 non-null  object
 3   학부명          105672 non-null  object
 4   전공명          105672 non-null  object
 5   연도           105672 non-null  int64
 6   학기           105672 non-null  int64
 7   학년           105672 non-null  int64
 8   학번           105672 non-null  object
 9   성별           105672 non-null  int64
 10  과목명          105672 non-null  object
 11  신청학점         105672 non-null  int64
 12  취득점수         105672 non-null  int64
 13  평균점수(100기준)  105672 non-null  int64
 14  분반           105672 non-null  int64
 15  개설대학         105672 non-null  object
 16  개설학부과        105663 non-null  object
 17  개설전공         105672 non-null  object
 18  이수구분명        105672 non-null  object
dtypes: int64(10), object(9)
memory usage: 15.3+ MB

In [11]:
strong_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 42 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           489 non-null    float64
 1   학번           489 non-null    object
 2   성별           489 non-null    object
 3   검사학년         489 non-null    float64
 4   대학           489 non-null    object
 5   학부(과)        489 non-null    object
 6   GOT 흥미유형     465 non-null    object
 7   기본흥미척도(BIS)  406 non-null    object
 8   Unnamed: 8   405 non-null    object
 9   Unnamed: 9   405 non-null    object
 10  Unnamed: 10  405 non-null    object
 11  Unnamed: 11  405 non-null    object
 12  Unnamed: 12  405 non-null    object
 13  Unnamed: 13  406 non-null    object
 14  Unnamed: 14  405 non-null    object
 15  Unnamed: 15  405 non-null    object
 16  Unnamed: 16  405 non-null    object
 17  Unnamed: 17  406 non-null    object
 18  Unnamed: 18  405 non-null    object
 19  Unnamed: 19  405 non-null    object
 20  Unnamed: 20  405 non-null    object
 21  Unnamed: 21  406 non-null    object
 22  Unnamed: 22  405 non-null    object
 23  Unnamed: 23  405 non-null    object
 24  Unnamed: 24  405 non-null    object
 25  Unnamed: 25  405 non-null    object
 26  Unnamed: 26  405 non-null    object
 27  Unnamed: 27  406 non-null    object
 28  Unnamed: 28  405 non-null    object
 29  Unnamed: 29  405 non-null    object
 30  Unnamed: 30  405 non-null    object
 31  Unnamed: 31  405 non-null    object
 32  Unnamed: 32  405 non-null    object
 33  Unnamed: 33  406 non-null    object
 34  Unnamed: 34  405 non-null    object
 35  Unnamed: 35  405 non-null    object
 36  Unnamed: 36  405 non-null    object
 37  개인특성척도(PSS)  405 non-null    object
 38  Unnamed: 38  405 non-null    object
 39  Unnamed: 39  405 non-null    object
 40  Unnamed: 40  405 non-null    object
 41  Unnamed: 41  405 non-null    object
dtypes: float64(2), object(40)
memory usage: 161.2+ KB

In [13]:
course_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년도     328 non-null    int64
 1   학기      328 non-null    int64
 2   교과목명    328 non-null    object
 3   교과목코드   328 non-null    int64
 4   분반      328 non-null    int64
 5   단과대학코드  328 non-null    object
 6   학과코드    328 non-null    int64
 7   전공코드    328 non-null    int64
 8   단과대학명   328 non-null    object
 9   학과명     328 non-null    object
 10  전공명     0 non-null      float64
 11  교과설명    311 non-null    object
 12  이수구분    328 non-null    object
 13  수강기준학년  328 non-null    int64
 14  수강기준학기  328 non-null    int64
dtypes: float64(1), int64(8), object(6)
memory usage: 38.6+ KB

In [ ]:
import pandas as pd

# 데이터 로드
strong_df = pd.read_excel('datas/STRONG_최종.xlsx')
course_history_df = pd.read_excel('datas/교양교과_수강정보_최종.xlsx')
course_list_df = pd.read_excel('datas/교양교과목록_최종.xlsx')

In [16]:


# 1. STRONG 역량 진단 데이터 통계
strong_stats = {
    "총 학생 수": strong_df['학번'].nunique(),
    "단과대학 수": strong_df['COLG_NM'].nunique(),
    "학과 수": strong_df['SUST_NM'].nunique(),
    "역량 점수 요약": strong_df.filter(like='_T_SC').describe().round(2)
}

# 2. 교양교과 수강 이력 데이터 통계
history_stats = {
    "총 수강 건수": len(course_history_df),
    "수강 학생 수": course_history_df['HAKBEON'].nunique(),
    "개설된 과목 수": course_history_df['GWAMOK_NO'].nunique(),
    "평점 평균 요약": course_history_df['PYEONGJEOM_AVG'].describe().round(2),
    "가장 많이 수강한 과목 TOP 5": course_history_df['GWAMOK_KOR_NM'].value_counts().head(5)
}

# 3. 교양교과 목록 데이터 통계
list_stats = {
    "등록된 총 교과목 수": course_list_df['GWAMOK_NO'].nunique(),
    "학점 단위 분포": course_list_df['HAKJEOM'].value_counts().sort_index()
}

# 결과 출력을 위한 데이터프레임 표시 (텍스트 요약으로 제공)
strong_stats, history_stats, list_stats

KeyError: 'COLG_NM'

In [ ]:
# 1. 현장형 (R: Realistic) - 실제적 활동, 조작, 공학, 체육, 자연 환경 응용
    R_keywords = ['기계', '기술', '공학', '실습', '하드웨어', '건축', '제작', '건설', '스포츠', '운동', '안전', '실제', '자연과학', '농업', '물리', '화학실험', '기능', '훈련']
    if any(keyword in desc for keyword in R_keywords): return 'R' 
    
    # 2. 탐구형 (I: Investigative) - 분석, 연구, 논리, 데이터, 과학 이론, 심화 학습
    I_keywords = ['과학', '연구', '분석', '논리', '수학', '통계', '데이터', '의학', '정보시스템', '이론', '탐구', '프로그래밍', '컴퓨터', '심화', '개념', '철학적', '과학적', '역학', '정보']
    if any(keyword in desc for keyword in I_keywords): return 'I' 
    
    # 3. 예술형 (A: Artistic) - 창의성, 표현, 인문학, 문화, 역사, 언어, 디자인
    A_keywords = ['예술', '디자인', '창의', '문화', '글쓰기', '공연', '미디어', '패션', '철학', '역사', '인문', '문학', '언어', '표현', '감상', '창작', '세계', '글로벌', '다양성', '생활문화', '시각', '음악', '교양']
    if any(keyword in desc for keyword in A_keywords): return 'A' 
    
    # 4. 사회형 (S: Social) - 사람과의 상호작용, 교육, 봉사, 심리, 소통
    S_keywords = ['봉사', '상담', '교육', '심리', '복지', '사회문제', '인간관계', '소통', '건강', '인간', '커뮤니케이션', '이해', '상호작용', '치료', '집단', '리더십기술', '윤리', '공동체']
    if any(keyword in desc for keyword in S_keywords): return 'S' 
    
    # 5. 진취형 (E: Enterprising) - 목표 달성, 경영, 리더십, 영업, 진로/취업 전략
    E_keywords = ['경영', '마케팅', '창업', '비즈니스', '투자', '법', '정책', '협상', '운영', '관리', '리더십', '취업', '진로', '전략', '영업', '설정', '협력', '조직', '발전', '경제']
    if any(keyword in desc for keyword in E_keywords): return 'E' 
    
    # 6. 사무형 (C: Conventional) - 체계, 규정, 회계, 행정, 재무, 문서
    C_keywords = ['회계', '사무', '재무', '정보관리', '규정', '문서', '정리', '금융', '재테크', '시스템', '행정', '체계', '효율', '처리']
    if any(keyword in desc for keyword in C_keywords): return 'C' 
    
    # ———————————————————————————————————
    else:
        return 'UNKNOWN'